<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>mat2js</title>
    <style>
        body {
            background-color: #565656;
        }

        .io {
            background-color: lightgray;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <h1>mat2js</h1>

    <div class='row'>
        <div class="col" style="text-align: center;">
            <textarea id="matlab_input" class="io" placeholder="Input Matlab" rows="30" cols="100"></textarea>
            <textarea id="matlab_tests" placeholder="Matlab tests" rows="30" cols="100"></textarea>
        </div>
    </div>
    <div class='row'>
        <div class="col" style="text-align: center;">
            <button onclick="process()" style="margin: 10px;">Convert</button>
        </div>
    </div>
    <div class='row'>
        <div class="col" style="text-align: center;">
            <textarea id="js_output" class="io" placeholder="Output JS" rows="30" cols="100"></textarea>
            <textarea id="js_results" placeholder="JS results" rows="30" cols="100"></textarea>
        </div>
    </div>



    <script>
        function process() {
            let raw_matlab = document.getElementById("matlab_input");
            let matlab_array = raw_matlab.value.split('\n').map(x => x.trim());
            console.log(matlab_array);
            let request = new XMLHttpRequest();
            request.open("POST", "/convert" , true);
            request.setRequestHeader( "Content-Type", "application/json" );
            request.send(JSON.stringify(matlab_array));
        }



    </script>
</body>

</html>